// =====================================================
// BASE.FORMS
// =====================================================

input,
select {
  box-shadow: none;
  font-family: inherit;
}

.CodeMirror {
  font-family: $font-family-monospace !important;
}