// =====================================================
// COMPONENTS.BREADCRUMBS
// =====================================================

#breadcrumbBar {
  background-color: $main-panel-bg-color !important;
  border: 1px solid $main-panel-border-color;
  border-width: 1px 0;
  padding: 1rem 0 1rem 1rem;
  text-transform: uppercase;

  .top-sticker-inner {
    background-color: $main-panel-bg-color;

    ul {
      border: 0;
    }
  }
}

#right-top-nav {
  position: fixed;
  right: 1em;
  z-index: 1000;
}