// =====================================================
// COMPONENTS.FOOTER
// =====================================================

footer {
  background-color: $footer-bg-color;
  left: 250px;
  right: 0;
  width: auto;
}