// =====================================================
// COMPONENTS.MAIN-PANEL
// =====================================================

#main-panel {
  background: $main-panel-bg-color;
  border-top: 3px solid $main-panel-border-color;
  margin-bottom: 3.5rem;
  margin-left: 266px;
  margin-right: 16px;
  margin-top: 16px;
  padding: 1rem;
}