// =====================================================
// COMPONENTS.TASKS
// =====================================================

#tasks {
  margin-bottom: 0;

  .task {
    border-top: 1px solid $tasks-border-color;
    color: $tasks-font-color;
    font-family: $tasks-font-family;
    @include font-size($tasks-font-size, false);
    font-weight: $tasks-font-weight;
    line-height: 0;
  }

  a {
    &,
    a:link {
      display: block;
      padding: 18px 1rem;
    }

    &:hover {
      background-color: $tasks-hover-bg-color;
    }
  }

  a.task-icon-link {
    display: none;
  }
}